@model StudentManager.ViewModels.GroupIndexData

@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Course Title
        </th>
        <th>
            Course ID
        </th>
        <th>
            Group Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Groups) {
    string selectedRow = "";
    if (item.GroupID == ViewBag.GroupID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.Course.Title)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Course.CourseID)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.GroupTitle)
        </td>
        <td>
            @Html.ActionLink("Select", "Index", new { id = item.GroupID }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.GroupID }) |
            @Html.ActionLink("Details", "Details", new { id = item.GroupID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GroupID })
        </td>
    </tr>
    }
</table>

@if (Model.Students != null)
{
    <h3>Students in selected group</h3>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Matriculation No.</th>
        </tr>
        @foreach(var item in Model.Students)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.MatricNumber
                </td>
            </tr>
        }
    </table>
}
