@model StudentManager.Models.Attendancy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendancy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TutorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TutorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonLocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonLocationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPresent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPresent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttendancyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
