@model IEnumerable<StudentManager.Models.Attendancy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TutorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonLocationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonTopic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPresent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TutorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonLocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonTopic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPresent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AttendancyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AttendancyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AttendancyID })
        </td>
    </tr>
}

</table>
